.my_header{
    width:100%;
}

.my_header,.my_footer{
    width:100%;
  }
  .my_footer{
    height:40rem;
  }
  @media (min-width:992px){
    .my_header{
      height:10rem;
    }
    .my_footer{
      height:40rem;
    }
  }
  @media (min-width:768px) and (max-width:991px){
    .my_header{
      height:15rem;
    }
    .my_footer{
      height:40rem;
    }
  }
  @media (min-width:576px) and (max-width:767px) {
    .my_header{
      height:16rem;
    }
    .my_footer{
      height:40rem;
    }
  }