	*{margin:0;padding:0;}
	.my_mr{
		margin:6rem 0 0 00%;
		position: absolute !important;
		top:-93px; left:650px;
	}
	.my_visible{
		margin:6rem 0 0 20%;
		width:75%;
	}
	 a.carousel-control-prev,a.carousel-control-next{
		width:5%;height:10%;
		background:#cccccc;
		margin-top:60%;
		border-radius:0.25rem;
	} 
	ul.carousel-indicators li{
		width:1.5rem;height:1.5rem;
		background:#cccccc;
		border-radius:50%;
		margin:0 0.5rem;
	}
	#right_ul,#left_ul{
		top:307px;
	}
	 #left_ul li{
		width:1rem;height:1rem;
		background-color:#ddd;
		border-radius:50%;
	} 
	#right_ul li.active,#left_ul li.active{
		background-color:#0aa1ed;
	}
	#right_ul li{
		width:1rem;height:1rem;
		background-color:#ddd;
		border-radius:50%;
	}
	ul.carousel-indicators li.active{
		background-color:#0aa1ed;
	}
	ul.carousel-indicators{
		margin-left:-35%;
	}
	#top{
		margin-top:66px;
		margin-left:6%;
	}

	/*隐藏导航栏*/
	table tr td{
		padding:0.5rem
	}
	.visible_1{
		width:905px;height:518px;
		position:absolute;
		left: 170px;
		top:-7px;
		display:none;
		z-index:100;
		background:#fff;
		border:2px solid #e8e8e8;
		padding:1rem;
	}
	div.my_visible ul li{
		width:20%;
	}
	div.my_visible ul li:hover{
		background:#cccccc;
	}
	div.my_visible ul li:hover .visible_1{
		display:block;
	}
	div.my_visible li a{
		color:#333 !important;
		font-size:1rem !important;
		text-decoration:none;
	}
	.visible_1 tr td a:hover{
		color:#f00 !important;
	}
	.font_table{
		font-size:0.75rem !important;
	}
	table.font_table tr td a{
		font-size:0.75rem !important;
	}
	/*面包屑导航中a标签字体颜色及分隔符设置*/
	ul.breadcrumb{
		background-color:#fff;
	}
	li.breadcrumb-item+ li.breadcrumb-item::before{
        content:"丨";
	}
	
	/*导航栏logo鼠标悬停样式*/
	.col-3 a img{
		transition:0.5s;
	}
	.col-3 a img:hover{
		transform:scale(1.1);
	}

	/*导航栏中a标签样式及鼠标悬停样式*/
	.top_a a{
		color:#808080;
	}
	.top_a a:hover{
		color:#f00;
		text-decoration:none;
	}

	/*导航栏中搜索框*/
	.inu1{
		width:65%;height:36px;
		padding:5px 10px;
		box-sizing:border-box;
		outline:none;
		position:relative;
		top:2px;left:-40px;
		border-radius: 0.25rem;
		border-color:#ced4da;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		background-image:url("../image/sou.png");
		background-repeat:no-repeat;
		background-position:right center;
		background-size:25px 25px;
	}

	/*搜索框点击样式*/
	.inu1:focus {
		color: #495057;
		background-color: #fff;
		border-color: #80bdff;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}

	/*用户导航栏中精灵图*/
 	#login_bg{
		background-image:url("../image/jing.jpg");
		width:18px;height:15px;
		display:inline-block;
		background-position:-59px -200px;
	}
	#reg_bg{
		background-image:url("../image/jing.jpg");
		width:17px;height:15px;
		display:inline-block;
		background-position:-249px -2px;
	}
	#shop_bg{
		background-image:url("../image/shop_car.png");
		width:18px;height:16px;
		display:inline-block;
		background-position:-2px 0px;
	}
	#care_bg{
		background-image:url("../image/jing.jpg");
		width:17px;height:15px;
		display:inline-block;
		background-position:-139px -144px;	
	}
	#user_bg{
		background-image:url("../image/jing.jpg");
		width:17px;height:15px;
		display:inline-block;
		background-position:-149px -42px;
	}
/* 	ul{
		list-style:none;
		display:flex;
		width:78%;
		height:50px;				
		margin:80px 170px;
	}
	.public:link{
		color:#808080;
		font-size:15px;
		text-decoration:none;
	}
	.public:visited{color:#808080}
	b{color:#808080}
	li:last-child input{
		width:409px;height:36px;
		padding:5px 10px;
		box-sizing:border-box;
		outline:none;
		position:relative;
		top:-10px;left:144px;
		background-image:url(sou.png);
		background-repeat:no-repeat;
		background-position:right center;
		background-size:25px 25px;
	}
	li:first-child a img{
		position:relative;
		top:-49px;left:-22px;
	}
	li:nth-child(2) div{
		background-image:url(jing.jpg);
		width:17px;height:15px;
		display:inline-block;
		background-position:-149px -42px;
	} */
	/*1楼楼层样式*/
	.nav1{
		width:60%;
		margin:50px 0px 0px 20%;
		border-bottom:2px solid #d9d9d9;
		font-size:24px;
		font-weight:bold;
		color:#666;
		padding-bottom:4px;
	}

	/*1楼整个商品框*/
	#first{
		width:60%;
		margin:10px 20%;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}

	/*1楼第1个商品框样式*/
	.two{
		width:54%;
		background:#fff;
		border:1px solid #e8e8e8;
		margin-bottom:10px;
	}

	/*第1个商品图片*/
	/* .two img{
		width:60%;height:80%;
		position:absolute;
		top:29%;left:38%;
		transition:1s;
	} */

	/*第1个商品图片鼠标悬停效果*/
	.two img:hover{
		transform:scale(1.1);
	}

	/*第1个商品框中商品详情板块*/

	/*1楼第1个商品a标签-查看详情样式*/
	.link{
		display:block;
		width:40%;height:40px;
		background-color:#0aa1ed;
		border:0;
		color:#fff;
		text-decoration:none;
		text-align:center;
		line-height:40px;
		border-radius:5px;
		transition:0.5s;
		font-size:1rem;
	}

	/*1楼第1个商品a标签-查看详情鼠标悬停样式*/
	.link:hover{
		transform:scale(1.1);
		color:#fff;
		font-size:1rem;
		text-decoration:none;
	}

	/*1楼第2个商品框*/
	.three{
		width:45%;
		border:1px solid #e8e8e8;
		margin-bottom:10px;
	}

	/*第2个商品图片*/
	/* .three div img{
		width:64%;height:61%;
		position:absolute;
		top:160px;left:-20px;
		transition:0.5s;
	} */

	/*第2个商品图片鼠标悬停效果*/
	.three div img:hover{
		transform:scale(1.1);
	}

	/*第2个商品详情板块*/

	/*1楼第2个商品a标签查看详情样式*/
	.link_1{
		display:block;
		width:40%;height:40px;
		background-color:#0aa1ed;
		border:0;
		color:#fff;
		text-decoration:none;
		text-align:center;
		line-height:40px;
		border-radius:5px;
		transition:0.5s;
		font-size:1rem;
		margin-left:60%;
	}

	/*1楼第2个商品a标签查看详情样式鼠标悬停样式*/
	.link_1:hover{
		transform:scale(1.1);
		color:#fff;
		text-decoration:none;
	}

	/*1楼第3个商品框*/
	.four{
		width:45%;
		border:1px solid #e8e8e8;
		margin-bottom:10px;
	} 

	/*1楼第4个商品框*/
	.five{
		width:54%;
		border:1px solid #e8e8e8;
		margin-bottom:10px;
	}

	/*通用字体大小*/
	.font_small{
		font-size:0.5rem;
	}

	/*1楼第5个商品框*/
	.six{
		width:49.5%;
		border:1px solid #e8e8e8;
		
	}

	/*首页1楼所有轮播指示器样式*/
	#middle-four li,#phone_carousel_right li,#computer_carousel-left li,#computer_carousel-right li,#phone-carousel li{
		width:0.75rem;height:0.75rem;
		background-color:#ddd;
	}

	/*首页1楼所有轮播指示器active样式*/
	#middle-four li.active,#phone_carousel_right li.active,#computer_carousel-left li.active,#computer_carousel-right li.active,#phone-carousel li.active{
		background-color:#00f;
	}

	/*1楼第6个商品框*/
	.seven{
		width:49.5%;
		border:1px solid #e8e8e8;
	}

	/*2楼商品框*/
	#middle{
		width:60%;
		margin:10px 20%;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}

	/*2楼5个商品框*/
	.middle_first{
		width:33%;
		border:1px solid #e8e8e8;
		margin-bottom:10px;
	}
	.middle_two{
		width:33%;
		border:1px solid #e8e8e8;
		margin-bottom:10px;
	}
	.middle_three{
		width:32%;
		border:1px solid #e8e8e8;
		margin-bottom:10px;
	}
	.middle_four{
		width:50%;
		border:1px solid #e8e8e8;
		margin-bottom:10px;
	}
	.middle_five{
		width:49%;
		border:1px solid #e8e8e8;
		margin-bottom:10px;
	}

	/*2楼所有商品收藏链接及鼠标悬停样式*/
	.collect{
		display:block;
		width:40%;height:40px;
		background-color:#f00;
		border:0;
		color:#fff;
		text-decoration:none;
		text-align:center;
		line-height:40px;
		border-radius:5px;
		transition:0.5s;
		font-size:1rem;
	}
	.collect:hover{
		color:#fff;
		text-decoration:none;
		transform:scale(1.1);
	}

	/*2楼所有商品详情链接鼠标悬停样式*/
	.detail_a:hover{
		text-decoration:none;
		color:#f00 !important;
	}
	#bottom{
		width:60%;
		margin:10px 20%;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		
	}
	#bottom div:first-child{
		width:33%;height:400px;
		background:#e8e8e8;
		margin-bottom:10px;
	}
	#bottom div:nth-child(2){
		width:33%;height:400px;
		background:#e8e8e8;
		margin-bottom:10px;
	}
	#bottom div:nth-child(3){
		width:32%;height:400px;
		background:#e8e8e8;
		margin-bottom:10px;
	}
	#bottom div:nth-child(4){
		width:33%;height:400px;
		background:#e8e8e8;
		margin-bottom:10px;
	}
	#bottom div:nth-child(5){
		width:33%;height:400px;
		background:#e8e8e8;
		margin-bottom:10px;
	}
	#bottom div:nth-child(6){
		width:32%;height:400px;
		background:#e8e8e8;
		margin-bottom:10px;
	}
	#left{
		width:290px;
		height:400px;
		position:fixed;
		top:216px;left:0px;
	}
	#right{
		width:290px;
		height:400px;
		float:right;
		position:fixed;
		top:216px;right:0px;
	}
	#end{
		font: 20px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
		width:60%;
		margin:100px 700px;;
	}
	#end img{
		width:83px;height:62px;
	}
	#last{
		width:60%;
		margin:0 300px;
	}
	#last b{
		font-size:30px;
	}
	#sym{
		width:60%;
		margin:50px 20%;
		display:flex;
		justify-content:space-between;
	}
	#sym div img{
		width:99px;height:80px;
	}
	#sym div a:link{
		text-decoration:none;
		color:#808080;
	}
	#sym div a:visited{color:#808080;}
	#sym div p{text-align:center;margin-top:10px;}
	#totop{
		float:right;
		position:fixed;
		top:800px;left:90%;
	}
	#totop div{
		width:0;height:0;
		border:16px solid transparent;
		border-bottom:20px solid #808080;
	}
	#totop p{
		font-size:16px;
		color:#808080;
	}
	#totop a:link{
		text-decoration:none;
		color:#808080;
	}
	#totop a:visited{
		color:#808080;
	}
	.myheight{
		width:100%;height:500px;
		background:#e8e8e8;
	}
	.mywidth{
		margin:10px 20%;
		width:60%;
	}
	.w-60{
		width:60%;
		margin-left:329px;
	}

	ul.list-unstyled li:first-child{
		color:#808080;
		margin-bottom:0.75rem;
	}
	ul.list-unstyled li:not(:first-child) a{
		color:#909090;
		font-size:0.75rem;
	}
	#end_bread li a{
		color:#808080;
		font-size:0.75rem;
	}
	.img_scale{
		transition:0.5s;
	}
	.img_scale:hover{
		transform:scale(1.1);
	}