
	
	/*面包屑导航中所有样式设置及媒体查询*/
    @media (min-width:1200px) {
        ul.breadcrumb{
		    background-color:#fff;
		    width:55%;
		    float:right;
        }
        li.breadcrumb-item+ li.breadcrumb-item::before{
            content:"丨";
        }
        #header ul li a:hover{
            color:#f00;
            text-decoration:none;
        }
    }
    @media (min-width:992px) and (max-width:1199px){
        ul.breadcrumb{
		    background-color:#fff;
		    width:64%;
		    float:right;
        }
        li.breadcrumb-item+ li.breadcrumb-item::before{
            content:"丨";
        }
        #header ul li a:hover{
            color:#f00;
            text-decoration:none;
        }
    }
    @media (min-width:768px) and (max-width:992px){
        ul.breadcrumb{
		    background-color:#fff;
		    width:86%;
		    float:right;
        }
        li.breadcrumb-item+ li.breadcrumb-item::before{
            content:"丨";
        }
        #header ul li a{
            color:#808080;
            font-size:1rem;
        }
        #header ul li a:hover{
            color:#f00;
            text-decoration:none;
        }
    }
    @media (min-width:576px) and (max-width:767px){
        ul.breadcrumb{
		    background-color:#fff;
		    width:100%;
		    float:right;
        }
        li.breadcrumb-item+ li.breadcrumb-item::before{
            content:"丨";
        }
        #header ul li a{
            color:#808080;
            font-size:0.85rem;
        }
        #header ul li a:hover{
            color:#f00;
            text-decoration:none;
        }
    }

	#header ul li a{
        color:#808080;
    }

    #header:after{
        content:"";
        display:block;
        clear:both;
    }

    /*用户导航栏中精灵图*/
 	#login_bg{
		background-image:url("../image/jing.jpg");
		width:18px;height:15px;
		display:inline-block;
		background-position:-59px -200px;
	}
	#reg_bg{
		background-image:url("../image/jing.jpg");
		width:17px;height:15px;
		display:inline-block;
		background-position:-249px -2px;
	}
	#shop_bg{
		background-image:url("../image/shop_car.png");
		width:18px;height:16px;
		display:inline-block;
		background-position:-2px 0px;
	}
	#care_bg{
		background-image:url("../image/jing.jpg");
		width:17px;height:15px;
		display:inline-block;
		background-position:-139px -144px;	
	}
	#user_bg{
		background-image:url("../image/jing.jpg");
		width:17px;height:15px;
		display:inline-block;
		background-position:-149px -42px;
    }
    
    /*导航栏中搜索框*/
	.inp{
		width:65%;height:36px;
		padding:5px 10px;
		box-sizing:border-box;
		outline:none;
		/* position:relative;
		top:2px;left:-40px; */
		border-radius: 0.25rem;
		border-color:#ced4da;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		background-image:url("../image/sou.png");
		background-repeat:no-repeat;
		background-position:right center;
		background-size:30px 30px;	
	}
	/*搜索框点击样式*/
	.inp:focus {
		color: #495057;
		background-color: #fff;
		border-color: #80bdff;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
	.sou_img{
		position:relative;
		top:-3px;left:-7px;
	}

	.bg_happy{
		background: #ff9000;
	}
	/*登录框*/
	.login_img{
		width:120px;height:120px;
		border:1px solid transparent;
		border-radius:50%;
		background-image:url("../image/no_login.jpg");
	}
	.login_no{
		width:300px;
		background:#fff;
		border:1px solid #f5f5f5;
		border-radius:0.25rem;
		position:absolute;
		top:0px;left:810px;
	}
	#ul_list li{
		margin-top:1rem;
	}
	
	/*抽奖框*/
	.draw{
		width:250px;height:300px;
		border:2px solid #ff5000;
	}
	#but{
		color:#ddd;
		background:#ff5000;
		width:100px !important;
	}
	/*logo鼠标悬停样式*/
	#p{
		transition:1s;
	}
	#p:hover{
		transform:scale(1.1);
	}
	/*搜索框下a标签样式*/
	.top_nav .font_small a{
		color:#999999;
	}
	/*秒杀框样式*/
	.seckill{
		width:220px;
		height:300px;
		background:#ff5000;
		/* position:absolute;
		top:201px;left:832px; */
		border:1px solid #ff5000;
		border-radius: 0.5rem;
	}
	.seckill_small{
		width:50px;
		height:50px;
		background:#000;
		border:1px solid #000;
		line-height:50px;
		font-size:2rem;
	}

	/*脑筋急转弯*/
	.bg_nav{
		background:#ff9000;
	}

	/*隐藏导航栏*/
	.my_mr{
		margin-top:6rem;
		position: absolute !important;
		top:-96px; left:210px;
	}
	.my_visible{
		width:75%;
	}
	table tr td{
		padding:0.5rem
	}
	.visible_1{
		width:905px;height:490px;
		position:absolute;
		left: 160px;
		top:-7px;
		display:none;
		z-index:100;
		background:#fff;
		border:2px solid #e8e8e8;
		padding:1rem;
    }
    /* div.my_visible ul li{
        width:15%;
	} */
	@media (min-width:991px) {
		div.my_visible ul li{
	    	width:23%;
        }
	}
    @media (min-width:768px) and (max-width:991px){
    	div.my_visible ul li{
	    	width:31%;
        }
    }
    @media (min-width:576px) and (max-width:768px){
        div.my_visible ul li{
	    	width:43%;
        }
	}

    div.my_visible ul li:hover{
		background:#cccccc;
	}
	div.my_visible ul li:hover .visible_1{
		display:block;
	}
	div.my_visible li a{
		color:#333 !important;
		font-size:0.85rem !important;
		text-decoration:none;
	}
	.visible_1 tr td a:hover{
		color:#f00 !important;
	}
	.font_table{
		font-size:0.75rem !important;
	}
	table.font_table tr td a{
		font-size:0.75rem !important;
	}
	.ul_visi li{
		background:#fff;
	}
    
    /*轮播图样式*/
    a.carousel-control-prev,a.carousel-control-next{
		width:5%;height:10%;
		background:#cccccc;
		margin-top:60%;
		border-radius:0.25rem;
	} 
	ul.carousel-indicators li{
		width:1.5rem;height:1.5rem;
		background:#cccccc;
		border-radius:50%;
		margin:0 0.5rem;
	}
	@media (min-width:1200px) {

	}
    @media (min-width:992px) and (max-width:1199px){
        .my_mr{
            margin:6rem 0 0 00%;
            position:absolute !important;
            top:-93px; left:200px;
		}
		.first{
			padding:0px !important;
		}
    }
    @media (min-width:768px) and (max-width:991px){
        .my_mr{
            margin:6rem 0 0 00%;
            position:absolute !important;
            top:-93px; left:160px;
        }
    }
	
	@media (min-width:576px) and (max-width:767px) {

	}
	.img_height{
		height:460px;
	}

	/*计时器样式*/
	.timer{
		background:#ff5000;
		border:1px solid transparent;
		border-radius:0.5rem;
		width:220px;
		height:300px;
	}
    /*所有楼层样式*/
	.floor{
        margin-top:5rem;
		border-bottom:2px solid #ff9000;
		font-size:24px;
		font-weight:bold;
		color:#666;
		padding-bottom:4px;
    }
    /*1楼第一个商品框*/
    .first{
		border:2px solid #ff9000;
		height:300px;
    }
    
    /*1楼第2个商品框*/
    .two{
		border:2px solid #ff9000;
		height:300px;
    }
    
    /*1楼第3个商品框*/
	.three{
        height:300px;
        border:2px solid #ff9000;
    } 

    /*1楼第4个商品框*/
	.four{
        height:300px;
        border:2px solid #ff9000;
    } 
    
    /*1楼第5个商品框*/
	.five{
        height:300px;
        border:2px solid #ff9000;
    } 

    /*1楼第6个商品框*/
	.six{
        height:300px;
        border:1px solid #ff9000;
    } 
	
	/*1楼商品a标签样式*/
	.link{
		display:block;
		width:90px;height:35px;
		/* background-color:#0aa1ed; */
		border:1px solid #f00;
		color:#f00;
		text-decoration:none;
		text-align:center;
		line-height:32px;
		border-radius:0.25rem;
		transition:0.5s;
		font-size:1rem;
	}

	/*1楼第1个商品a标签-查看详情鼠标悬停样式*/
	.link:hover{
		transform:scale(1.1);
		color:#ff5000;
		font-size:1rem;
		text-decoration:none;
	}
	.price_color{
		color:#ff5000 !important;
	}

	/*通用字体大小*/
	.font_small{
		font-size:0.75rem;
	}

	.font_normal{
		font-size:0.95rem;
	}
	.font_color{
		color:#ff5000;
	}
	/*2楼所有商品框*/
	.seven,.eight,.nine,.ten,.eleven{
		height:390px;
		border:1px solid #ff9000;
	}

	/*2楼所有商品收藏链接及鼠标悬停样式*/
	.collect{
			display:block;
			width:100px;height:35px;
			/* background-color:#ff5000; */
			border:1px solid #ff9000;
			color:#ff9000;
			text-decoration:none;
			text-align:center;
			line-height:32px;
			border-radius:5px;
			transition:0.5s;
			font-size:1rem;
	}
	.collect:hover{
			color:#f00;
			text-decoration:none;
			transform:scale(1.1);
	}

		/*2楼所有商品详情链接鼠标悬停样式*/
		.detail_a:hover{
			text-decoration:none;
			color:#f00 !important;
		}



		#totop{
			float:right;
			position:fixed;
			top:80%;left:90%;
		}
		#totop div{
			width:0;height:0;
			border:16px solid transparent;
			border-bottom:20px solid #808080;
		}
		#totop p{
			font-size:16px;
			color:#808080;
		}
		#totop a:link{
			text-decoration:none;
			color:#808080;
		}
		#totop a:visited{
			color:#808080;
		}

	/*3楼商品框*/
	.three_first,.three_two,.three_three,.three_five,.three_four,.three_six{
		height:430px;
		border:1px solid #ff9000;
	}

	/*3楼按钮样式*/
	.beaut_btn{
		width:100px;height:30px;
		border:2px solid #e8e8e8;
		color:#ff5000;
		border-radius:0.25rem;
		background:transparent;
		transition:0.5s;
	}
	.beaut_btn:hover{
		transform:scale(1.1);
	}
/*选项卡导航*/
#nav1,#nav2,#nav3,#nav4,#nav5{
	height:400px;
	border:1px solid #ff9000;
}
.nav .nav-item a{
	color:#ff5000;
}
.nav .nav-item a.active{
	color:#f00;
}
/* .mywidth{
	margin:10px 20%;
	/* width:60%; */

	.nav-tabs .nav-link:hover{
		color:#f00 !important;
	}