*{margin:0;padding:0}
.breadcrumb{
    background-color:transparent !important;
}
li.breadcrumb-item+ li.breadcrumb-item::before{
    content:"丨" !important;
}
#bread .breadcrumb-item + .breadcrumb-item::before{
    content:">" !important; 
    color:#0aa1ed;
}
.breadcrumb .breadcrumb-item a{
    color:#0aa1ed;
}
.breadcrumb .breadcrumb-item a:hover{
    text-decoration:none;
    color:#00f;
}
div.card{
    width:92%;
}
.card-header a img{
    width:1.5rem;height:1.5rem;
}
.card-header a img:visited{
    transform:rotateX(90deg);
}
.list-unstyled li a{
    font-size:0.75rem;
}
.list-unstyled li a:hover{
    text-decoration:none;
}
.ml-6{
    margin-left:4rem;
}
div.card{
    border:none;
}
.card-header{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius:0.25rem !important;
}
.card-body{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius:0.25rem;
}
.card-header:not(:first-child){
    margin-top:0.5rem;
}
.list_header{
    width:80%;
    background:#eee;
}
.user_list{
    width:80%;
    border:2px solid #ccc;
    border-top:none;
}
#uname,#phone,#email,#user_name{
    width:40%;
}
#m,#f{
    width:20px;height:20px;
    margin-left:1rem;
}
.userlist{
    display:inline-block;
    width:15%;
    text-align: right;
    color:#808080;
}
.img1{
    margin-top:25px;
    margin-left:300px;
}
.img1 a{
    text-decoration:none !important;
}
b{
    font-size:2rem;
    color:#f00;
    margin-left:20px;
}
.sex{
    color:#808080;
    position:relative;
    top:-5px;left:4px;

}
label{
    margin-bottom:0px !important;
}
ul.breadcrumb{
    background-color:#fff;
}
.inu1{
    width:65%;height:36px;
    padding:5px 10px;
    box-sizing:border-box;
    outline:none;
    position:relative;
    top:2px;left:-40px;
    border-radius: 0.25rem;
    border-color:#ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-image:url("../image/sou.png");
    background-repeat:no-repeat;
    background-position:right center;
    background-size:25px 25px;
}
.inu1:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
#login_bg{
    background-image:url("../image/jing.jpg");
    width:18px;height:15px;
    display:inline-block;
    background-position:-59px -200px;
}
#reg_bg{
    background-image:url("../image/jing.jpg");
    width:17px;height:15px;
    display:inline-block;
    background-position:-249px -2px;
}
#shop_bg{
    background-image:url("../image/shop_car.png");
    width:18px;height:16px;
    display:inline-block;
    background-position:-2px 0px;
}
#care_bg{
    background-image:url("../image/jing.jpg");
    width:17px;height:15px;
    display:inline-block;
    background-position:-139px -144px;	
}
#user_bg{
    background-image:url("../image/jing.jpg");
    width:17px;height:15px;
    display:inline-block;
    background-position:-149px -42px;
}
.top_a a{
    color:#808080 !important;
}
.col-3 a img{
    transition:0.5s;
}
.col-3 a img:hover{
    transform:scale(1.1);
}
.top_a a:hover{
    color:#00f !important;
    text-decoration:none;
}
#sym div img{
    width:99px;height:80px;
}
#sym div a:hover{
    color:#00f;
    text-decoration:none;
}
#last{
    margin-top:85px;
}
.end_hr{
    margin-top:100px;
}
ul.list-unstyled li:first-child{
    color:#808080;
    margin-bottom:0.75rem;
}
#end_list div ul.list-unstyled li:not(:first-child) a{
    color:#909090;
    font-size:0.75rem;
} 
#end_list div ul.list-unstyled li a:hover{
    color:#aaa;
}
#end_bread li a{
    color:#808080;
    font-size:0.75rem;
}